@import "../../../theme/theme.css";
@import "../../../utils/utilities.css";

.react-aria-DateField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

/* input contenedor */

.react-aria-DateInput {
  display: inline-flex;
  align-items: center;

  padding: 0 var(--spacing-3);
  box-sizing: border-box;

  border-radius: var(--radius);
  border: 1px solid var(--border-color);

  background: var(--field-background);

  font: var(--font-size) system-ui;
  color: var(--field-text-color);

  height: var(--spacing-8);
  line-height: var(--spacing-8);

  width: fit-content;
  min-width: 180px;

  white-space: nowrap;
  forced-color-adjust: none;

  cursor: text;

  transition: border 0.2s, box-shadow 0.2s;
}

/* hover */

.react-aria-DateInput:hover {
  border-color: var(--border-color-hover);
}

/* focus */

.react-aria-DateInput[data-focus-within] {
  outline: none;
  border-color: var(--primary);

  box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 30%, transparent);
}

/* disabled */

.react-aria-DateInput[data-disabled] {
  color: var(--text-color-disabled);
  background: var(--field-background-disabled);
  cursor: default;
}

/* segmentos */

.react-aria-DateSegment {
  padding: 2px 4px;

  font-size: var(--font-size);
  font-variant-numeric: tabular-nums;

  text-align: end;

  color: var(--field-text-color);

  border-radius: 4px;

  -webkit-tap-highlight-color: transparent;

  transition: background 0.15s;
}

/* separadores / */

.react-aria-DateSegment[data-type=literal] {
  padding: 0 2px;
}

/* placeholder */

.react-aria-DateSegment[data-placeholder] {
  color: var(--text-color-placeholder);
}

/* focus en segmento */

.react-aria-DateSegment:focus {
  color: var(--highlight-foreground);
  background: var(--highlight-background);

  outline: none;
  caret-color: transparent;
}

/* invalido */

.react-aria-DateSegment[data-invalid] {
  color: var(--invalid-color);
}

.react-aria-DateSegment[data-invalid]:focus {
  background: var(--highlight-background-invalid);
  color: var(--highlight-foreground);
}

/* disabled */

.react-aria-DateSegment[data-disabled] {
  color: var(--text-color-disabled);
  cursor: default;
}